[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
celery = {extras = ["redis"], version = "*"}
django-celery-results = "*"
tzdata = "*"

[dev-packages]
isort = "*"

[requires]
python_version = "3.10"
